.search-page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  width: 100%;
  .footer-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .search-page-footer {
    flex-direction: column;
    .footer-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > * {
          margin: 10px 0;
      }
      :nth-child(3){
          display: none;
      }
    }
  }
}
