.toolbar-content-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    // @media screen and (max-width: 500px) {
    //     padding-right:24px ;
    // }
    .heading{
        @media screen and (max-width: 500px) {
            // display: none;
            font-size: 14px;
        }
    }
}